footer.atom-footer-area.small-section
  .container
    .row
      .col-md-6
        .copyright
          img.img-responsive(src='/images/logo.png', alt='logo', style='width:70px')
          p
            | Copyright © 2017 한국펜션협회
            br
            |  All rights reserved.
      //- .col-md-6.text-right
      //-   ul.list-inline.social-icons
      //-     li
      //-       a(href='#', alt='blog')
      //-         i.fa.naver-blog
      //-     li
      //-       a(href='#', alt='yellow id')
      //-         i.fa.yid
      //-     li
      //-       a(href='#', alt='facebook')
      //-         i.fa.fa-facebook
      //-     li
      //-       a(href='#', alt='youtube')
      //-         i.fa.fa-youtube-play

//- jQuery core jquery
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="/js/jquery-1.11.3.min.js"><\\/script>')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/modernizr.custom.js')
script(type='text/javascript', src='/js/classie.js')
script(type='text/javascript', src='/js/pathLoader.js')
script(type='text/javascript', src='/js/imagesloaded.pkgd.min.js')
script(type='text/javascript', src='/js/jquery.stellar.min.js')
script(type='text/javascript', src='/js/smooth.js')
script(type='text/javascript', src='/js/isotopoe.pkgd.min.js')
script(type='text/javascript', src='/js/masonary.min.js')
script(type='text/javascript', src='/js/row-plugins.js')
script(type='text/javascript', src='/js/active.js')
script(type='text/javascript', src='/js/theme-functions.js')
script(type='text/javascript', src='/js/jquery.mobile.custom.min.js')
