footer.atom-footer-area.small-section
  .container
    .row
      .col-md-6
        .copyright
          img.img-responsive(src='/images/logo-footer.png', alt='logo')
          p
            | Copyright © 2016
            a(href='#') T Port Inc.
            br
            |  All rights reserved.
      .col-md-6.text-right
        ul.list-inline.social-icons
          li
            a(href='\
            http://blog.zari.me', target='_blank', alt='blog')
              i.fa.naver-blog
          li
            a(href='\
            http://plus.kakao.com/home/@자리', target='_blank', alt='yellow id')
              i.fa.yid
          li
            a(href='\
            https://www.facebook.com/zari.me/', target='_blank', alt='facebook')
              i.fa.fa-facebook
          li
            a(href='\
            https://www.youtube.com/channel/UC5-BnjgAh1bvu8EfzARDZmA', target='_blank', alt='youtube')
              i.fa.fa-youtube-play
                
// ===============    jQuery core jquery     ===============
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="/js/jquery-1.11.3.min.js"><\\/script>')
// ===============    Bootstrap core jquery     ===============
script(type='text/javascript', src='/js/bootstrap.min.js')
// ===============    modernizr core jquery     ===============
script(type='text/javascript', src='/js/modernizr.custom.js')
// ===============    classie core jquery     ===============
script(type='text/javascript', src='/js/classie.js')
// ===============    pathLoader core jquery     ===============
script(type='text/javascript', src='/js/pathLoader.js')
// ===============    imagesloaded core jquery     ===============
script(type='text/javascript', src='/js/imagesloaded.pkgd.min.js')
// ===============    stellar core jquery     ===============
script(type='text/javascript', src='/js/jquery.stellar.min.js')
// ===============    smooth core jquery     ===============
script(type='text/javascript', src='/js/smooth.js')
// ===============    isotope core jquery     ===============
script(type='text/javascript', src='/js/isotopoe.pkgd.min.js')
// ===============    masonary core jquery     ===============
script(type='text/javascript', src='/js/masonary.min.js')
// ===============    ROW JavaScript Plugins    ===============
script(type='text/javascript', src='/js/row-plugins.js')
// ===============    Active core JavaScript     ===============
script(type='text/javascript', src='/js/active.js')
// ===============    jQuery mobile for swipe carousel  ===============
script(type='text/javascript', src='/js/jquery.mobile.custom.min.js')
