include includes/header.pug

.menu-wrapper
  .container
    header
      .logo
        a(href='/')
          img(src='/images/logo.png', alt='')
      .mobile-menu
        span.line
      nav
        ul
          li.active
            a(href='/') HOME
          li
            a(href='/member') 회원사
          li
            a(href='/map') 전국펜션지도
          li
            a(href='/channel') 제휴체널
          li
            a(href='/contact') CONTACT US

//- page title section
.page-title
  .container
    .row
      .col-md-7.col-xs-12
        h1
          | Korea Pension
          span.theme-color   Association
        img.heading-border(src='/images/branding-border.png', alt='')
        p
          | Kopenz는 한국펜션협회에서 운영하는 브랜드 입니다.

.container

  //- form.atom-form
    .row
      .col-sm-5
        input(name='name', placeholder='펜션 이름으로 검색하기', type='text')
      .col-sm-2
        button.btn.btn-theme.btn-sm(type='submit') 검색하기

  //- work filter
  .row
    .col-md-12
      ul.atom-portfolio-filter.text-left.list-inline
        li
          a.active(href='#', data-filter='*') 전체
        li
          a(href='#', data-filter='.제주') 제주
        li
          a(href='#', data-filter='.가평') 가평
        li
          a(href='#', data-filter='.안면도') 안면도
        li
          a(href='#', data-filter='.통영') 통영
        li
          a(href='#', data-filter='.변산반도') 변산반도

//- work grid
#atom-works-grid.work-grids-area.hover-one.gutter
  each key in pension
    div(class='col-lg-2 col-md-3 col-sm-3 col-xs-6 atom-work-item ' + key.area)
      a(href= key.link, target='_blank')
        img.img-responsive(src= key.thumbnail, alt='')
        .desc.text-center
          h5 #{key.title}
          p #{key.address}

include includes/footer.pug
